<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.echowaves.tlog">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    // optional but highly recommended
    <application
        android:name=".TLApplicationContextProvider"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="LOCALYTICS_APP_KEY"
            android:value="3cedf51f841eedbbd254fbb-443b51e0-eb9c-11e5-4245-00adad38bc8d" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".controller.user.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.user.SignUpActivity" />
        <activity android:name=".controller.user.MenuActivity" />
        <activity android:name=".controller.user.employee.EmployeesActivity" />
        <activity android:name=".controller.user.reports.YearPickerActivity" />
        <activity android:name=".controller.user.employee.EmployeeCreate" />
        <activity android:name=".controller.user.employee.EmployeeDetails"></activity>
    </application>

</manifest>